body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: white;
}

body.peach {
  background-color: #ffcc99;
}

.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  visibility: hidden;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.two {
  font-size: 1.2rem;
}

.three {
  font-size: 3rem;
}

.idea-3 strong {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
}

.idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

/* Lights Button */
.lights-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.lights-wrapper button {
  padding: 15px 30px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Active */
.lights-wrapper.active {
  opacity: 1;
  pointer-events: auto;
}
